<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap"
      rel="stylesheet"
    />
    {% block head %} {% endblock %}
  </head>
  <body>
    <nav>
      <div class="logo">
        <img
          src="{{url_for('static', filename='img/logo_eateasy.png')}}"
          alt="EatEasy Logo"
        />
        <h1>EatEasy</h1>
      </div>
      <ul class="nav-links">
        <li><a href="/">Home</a></li>
        <li><a href="{{url_for('about')}}">About Us</a></li>
        <li><a href="{{url_for('help')}}">Help</a></li>
      </ul>
    </nav>
    {% block body %} {% endblock %}
  </body>
</html>
