<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Forgot Password</title>
  </head>
  <body>
    <form method="POST" action="forgot-password.html">
      <label for="email">Email:</label>
      <input type="email" id="email" name="email" required>
      {% if error %}
      <p style="color: red">{{ error }}</p>
      {% endif %}
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
