{% extends "base.html" %} {% block head %}
<title>EatEasy - Map</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link
  rel="stylesheet"
  type="text/css"
  href="{{url_for('static', filename='help.css')}}"
/>
{% endblock %} {% block body %}
<main>
    <div class="container">
        <h1>Help Page</h1>
        
        <div class="section">
          <h2>Frequently Asked Questions</h2>
          <ul>
            <li>
              <strong>How do I reset my password?</strong><br>
              You can reset your password by clicking on the "Forgot Password" link on the login page and following the instructions.
            </li>
            <li>
              <strong>How do I update my account information?</strong><br>
              You can update your account information by logging in and clicking on the "Settings" link in the navigation menu.
            </li>
            <li>
              <strong>How do I contact customer support?</strong><br>
              You can contact our customer support team by emailing <a href="mailto:support@yourwebsite.com">support@EatEasy.com</a> or by calling <a href="tel:18005551234">+91 723XXXXXXX</a>.
            </li>
          </ul>
        </div>
        
        <div class="section">
          <h2>Additional Resources</h2>
          <ul>
            <li><a href="#">Terms of Service</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Contact Us</a></li>
          </ul>
    
        </div>
    </div>
</main>


{% endblock %}
