<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap"
      rel="stylesheet"/>
<title>EatEasy - Home</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link
  rel="stylesheet"
  type="text/css"
  href="{{url_for('static', filename='style.css')}}"/>
  <link
  rel="stylesheet"
  type="text/css"
  href="{{url_for('static', filename='features.css')}}"
/>
</head>
<body>
  <nav>
    <div class="logo">
      <img
        src="{{url_for('static', filename='img/logo_eateasy.png')}}"
        alt="EatEasy Logo"
      />
      <h1>EatEasy</h1>
    </div>
    <ul class="nav-links">
      <li><a href="/">Home</a></li>
      <li><a href="{{url_for('about')}}">About Us</a></li>
      <li><a href="{{url_for('help')}}">Help</a></li>
      <li><a href="{{url_for('userfeedback')}}">Feedback</a></li>
      <li><a href="{{url_for('logout')}}">Logout</a></li>
    </ul>
  </nav>
<div class="container">
  <div class="left">
    <main>
      <div class="intro">
        {% if name %}
  <h2>Welcome, {{ name }}!</h2>
{% else %}
  <h2>Welcome to EatEasy!</h2>
{% endif %}
<p>
  Find the most suitable place for you and your gang with just a click <br>
</p>
<div class="buttons">
<a href="{{ url_for('select') }}" class="btn-find">Find</a>
          <a href="{{ url_for('map') }}" class="btn-messmap">View Map</a>
        </div>
      </div>
    </main>
  </div>
  <div class="right">
    <div class="picture">
      <img
      id="tableicon"
        src="{{url_for('static', filename='img/dine_icon.png')}}"
        alt="Food Picture"
      />
    </div>
  </div>
</div>
</body>
</html>
