{% extends "base.html" %} 

{% block head %}
    <title>EatEasy - Find a Table</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='style_sel.css')}}">
    <link
  rel="stylesheet"
  type="text/css"
  href="{{url_for('static', filename='features.css')}}"
/>
{% endblock %}

{% block body %}
    <main>
    <div class="container">
      <div class="form-container">
        <h2>Let's Find...</h2>
        <form method="post">
            <button class="btn-counter" type="submit">Find Counter</button><br>
          <label for="num-people">Number of People:</label>
          <input type="number" id="num-people" name="num-people" placeholder="Enter number of people">
          
          <label for="table-pref">Table Preference:</label>
          <select id="table-pref" name="table-pref">
            <option value="Hotspot">Hots</option>
            <option value="Football">Football</option>
            <option value="Hostel">Hostek</option>
            <option value="InsideStairs">Newmess</option>
          </select>
          
          <button class="btn-find" type="submit">Find Table</button>
        </form>

      </div>
      {% if table is not none %}
      <div class="containe">
        <div class="result-box">
          <div class="result-text"> {{ ans }}</div>
          <button class="close-button" type="">X</button>
        </div>
      </div>
      <!-- <h1></h1> -->
      <style>
        .containe {
  position: fixed;
  /* top: 0;
  left: 0; */
  height: 600px;
  width: 1000px;

  background-color: rgba(0, 0, 0, 0.484);
  /* display: none; */
  border-radius: 5px;
}

.result-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(255, 255, 255);
  height: 450px;
  width: 800px;
  padding: auto;
}

.result-text {
  position: absolute;
  top: 50%;
  left: 20%;
  font-size: 44px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  /* font-weight: 700; */
  /* margin-bottom: 10px; */
}

.close-button {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 80px;
  font-size: 16px;
  border: none;
  background-color: red;
  cursor: pointer;
}

      </style>
      <script>
        var closeBtn = document.querySelector('.close-button');
        function hideResultBox() {
  // Hide the result box
  document.querySelector('.containe').style.display = 'none';
}

// Add a click event listener to the close button
closeBtn.addEventListener('click', hideResultBox);
      </script>
    {% endif %}
    </div>

 <style>
  h1{
    color: white;
  }
 </style>
  </main>
  {% endblock %}
