body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #ffffff;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
    /* background-image: linear-gradient(to right, #ffffff, #e3feff, #a5ffff, #8dffe2, #c6ff91); */
  }
  
  .logo {
    display: flex;
    align-items: center;
  }
  
  .logo img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
  }
  
  nav ul {
    display: flex;
  }
  
  nav li {
    list-style: none;
    margin-left: 20px;
  }
  
  nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: color 0.3s ease;
  }
  
  nav a:hover {
    color: rgb(250, 69, 112);
  }
  
 /* For Main Body*/
  
 header h1{
    display: flex;
    margin-top: 0;
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 10px;
    justify-content: center;
 }
  main,header{
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    font-family: 'Josefin Sans', sans-serif;
  }
  
  h2 {
    font-size: 2rem;
    margin-bottom: 10px;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  
  p {
    line-height: 1.5;
    color: #555;
    font-size: 1.1rem;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  li {
    margin-bottom: 10px;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-top: 50px;
    box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.1);
  }
  
  p.footer-text {
    font-size: 0.9rem;
  }