body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #ffffff;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
    /* background-image: linear-gradient(to right, #ffffff, #e3feff, #a5ffff, #8dffe2, #c6ff91); */
  }
  
  .logo {
    display: flex;
    align-items: center;
  }
  
  .logo img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
  }
  
  nav ul {
    display: flex;
  }
  
  nav li {
    list-style: none;
    margin-left: 20px;
  }
  
  nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: color 0.3s ease;
  }
  
  nav a:hover {
    color: rgb(250, 69, 112);
  }

  /* Main Part */
  div {
    margin-top: 1rem;
  }
  
  div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  