body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url('./img/bueateasy.jpg');
    background-size: cover;
    background-attachment: fixed;
  }

  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 80px);
  }
  
  .form-container {
    background-color: #fff;
    padding: 50px;
    padding-top: 0px;
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .form-container h2 {
    font-size: 36px;
    margin-bottom: 30px;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-bottom: 10px;
    font-weight: bold;
  }
 button
  {
    height: 30px;
    background-color: rgb(250, 69, 112);
    color: white;
    /* font-weight: 500; */
    font-size: larger;
    border-radius: 30px;
    border: none;
    height: 40px;
  }
button:hover{
    background-color: rgb(125, 255, 60);
}
  input[type=number], select {
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    /* border: none;}   */
  }

		.box-container {
			position: fixed;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			background-color: #f5f5f5;
			padding: 20px;
			box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.75);
			border-radius: 5px;
			z-index: 5;
		}

		.box-heading {
			text-align: center;
			font-size: 26px;
			margin-bottom: 10px;
      font-weight: bolder;
		}

		.box-image {
			display: block;
			margin: 0 auto;
			max-width: 100%;
			max-height: 300px;
			margin-bottom: 10px;
		}

		.box-buttons {
			display: flex;
			justify-content: center;
			align-items: center;
			margin-top: 10px;
		}

		.box-close-button {
			margin-left: 30px;
			background-color: #ff0000;
			color: #fff;
			padding: 5px 10px;
			border: none;
			border-radius: 30px;
			cursor: pointer;
		}

		.density-table {
			display: none;
			margin-top: 20px;
			border-collapse: collapse;
			width: 100%;
		}

		.density-table td, .density-table th {
			border: 1px solid #ddd;
			padding: 8px;
		}

		.density-table th {
			padding-top: 12px;
			padding-bottom: 12px;
			text-align: left;
			background-color: rgb(125, 255, 60);
			color: white;
		}

		.density-table tr:nth-child(even){background-color: #f2f2f2;}