body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url('./img/bueateasy.jpg');
    background-size: cover;
    background-attachment: fixed;
  }

  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 80px);
  }
  
  .form-container {
    background-color: #fff;
    padding: 50px;
    padding-top: 0px;
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .form-container h2 {
    font-size: 36px;
    margin-bottom: 30px;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-bottom: 10px;
    font-weight: bold;
  }
 button
  {
    height: 30px;
    background-color: rgb(250, 69, 112);
    color: white;
    /* font-weight: 500; */
    font-size: larger;
    border-radius: 30px;
    border: none;
    height: 40px;
  }
button:hover{
    background-color: rgb(125, 255, 60);
}
  input[type=number], select {
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    /* border: none;}   */
  }