<!DOCTYPE html>
<html>
  <head>
    <title>EatEasy - Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>
    <nav>
      <div class="logo">
        <img src="logo_eateasy.png" alt="EatEasy Logo">
        <h1>EatEasy</h1>
      </div>
      <ul class="nav-links">
        <li><a href="#">Home</a></li>
        <li><a href="#">About Us</a></li>
        <li><a href="#">Feedback</a></li>
        <li><a href="#">Help</a></li>
      </ul>
    </nav>
    
    <div class="container">
      <div class="left">
        <main>
          <div class="intro">
            <h2>Welcome to EatEasy!</h2>
            <p>Find the most suitable place for you and your gang with just a click</p>
            <div class="buttons">
              <a href="select.html" class="btn-find">Find</a>
              <a href="View_Map.html" class="btn-messmap">View Map</a>
            </div>
          </div>

        </main>
      </div>
      <div class="right">
        <div class="picture">
            <img src="./dine_icon.png" alt="Food Picture">
          </div>
      </div>
    </div>
  </body>
</html>